# Approval service
APPROVAL_SERVICE_API_KEY=change-me
APPROVAL_RULE_THRESHOLD=1000
APPROVAL_SERVICE_PORT=8090

# Persistent audit storage
AZURE_TABLES_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=<account>;AccountKey=<key>;EndpointSuffix=core.windows.net
# Alternative when key auth is disabled: https://<account>.table.core.windows.net
AZURE_STORAGE_TABLE_ENDPOINT=
APPROVAL_AUDIT_TABLE_NAME=ApprovalAudit
